body {
   bacground-color: #FFFFEO; 
   font-family: Arial, sans-serif; /*jenis huruf yang bersih dan mudah di baca*/
   color: #8B0000
}
.kartu-profil {
  width:300px;
  margin:50px auto;
  padding:20px;
  background-color: 15px;
  box-shadow: 0 8px 12px rgba (0,0,0,0,1); /*efek bayangan*/
  text-align:center;
}
.kartu-profil img {
     width: 150px; /*trik membuat sudut menjadi melengkung*/
  border-radius: 50% /*trik untuk membuat gambar persegi menjadi lingkaran*/
}
